.container{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

h1, h2, h3, h4{
	color: rgb(0,204,204);
	background-color: rgb(255,204,229);
	border: 1px #D6A800;
	padding: 10px;
}

a:link{
	color:black;
}

a:visited{
	color:blue;
}

a:hover{
	color:hotpink;
}